<div class="container">
    <h1>Login</h1>
    <form action="/login" method="post">
        <label for="Email">Email:</label>
        <input type="text" id="username" name="username" placeholder="Digita tu Email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Digita tu password" required>
        <div>
            <button type="submit">Login</button>
            
            <button type="submit">Registro</button>
        </div>
    </form>
</div>
