<div class="container">
    <h1>SIEMBRA DIGITAL</h1>
    <p>Bienvenido a nuestra aplicación. ¡Esperamos que disfrutes de la experiencia!</p>
</div>

<div class="container">
    <h2>
        Siembra Digital nace con el objetivo de impulsar la transformación digital del sector agrícola, brindando a los productores, estudiantes, investigadores y entusiastas de la agricultura las herramientas y recursos necesarios para adoptar prácticas agrícolas más eficientes, sostenibles y rentables.
    </h2>
</div>