<div class="container">
    <h1>User Registration</h1>
    <form (ngSubmit)="onSubmit()">
        <label for="username">Username:</label>
        <input type="text" id="username" [(ngModel)]="username" name="username" placeholder="Digita tu Username" required>

        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="Ingresa tu correo Electronico" required>

        <label for="password">Password:</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Digita password" required>

        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirma tu password" required>

        <button type="submit">Registro</button>
    </form>
</div>
